body {
  background-color: #e6f2f3;
}

.middle-text {
  color: #8acdd3;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  padding: 15rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: url("portfolio-photo.jpeg");
  height: 40rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  text-shadow: 5px -3px 10px black;
  animation: fade-in-text 3s;
}



.container {
  max-width: 80%;
}
.col-lg-3,
.col-sm-4,
.col-xs-6 {
  margin-top: 2em;
  /* padding-left: 0;
  padding-right: 0; */
}
.contact {
  align-items: center;
}
.fa-instagram {
  padding-right: 2em;
  font-size: 2em;
}
.fa-envelope {
  font-size: 2em;
}
.fa-phone-alt{
  font-size: 1.7em;
}

.relative {
  position: relative;
}

.hoverable {
  z-index: 9;
}

.hoverable:hover > .hiddenText {
  display: block;
}

.hiddenText {
  opacity: 0;
  border: 5px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #8acdd3;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  text-align: center; /* Wycentrowanie tekstu */
  line-height: 2;
  min-width: 30em;
}

.embed-responsive-item {
  transition: all 0.3s ease-in-out;
  display: block;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Next-sibling_combinator */
.embed-responsive-item:hover + p {
  opacity: 1;
}

.embed-responsive-item:hover {
  filter: brightness(40%);
  opacity: 0.5;
}

@media (max-width: 768px) {
  /* Zmiana stylów dla ekranów o szerokości do 768px */
  .navbar-brand {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  /* Zmiana stylów dla ekranów o szerokości do 576px */
  .navbar-brand {
    font-size: 1.2rem;
  }
}

@keyframes fade-in-text {
  from {
    color: rgba(138, 205, 211, 0); /* Przezroczysty kolor tekstu na początku */
  }
  to {
    color: rgba(138, 205, 211, 1); /* Pełny kolor tekstu na końcu */
  }
}
.footerBottom {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
